/*
Colors used:
Primary  Color (black): #575756;
Secondary Color (purple): #b60f80;
Background Color (light grey): f4f4f4;
*/

html {
    scroll-behavior: smooth;
}

body {
    background-color: #f4f4f4;
    font-family: 'Hind Madurai', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;
    color: #575756;

}

h1 {
    font-family: 'montserrat', sans-serif;
    font-size: 26px;
}

h2 {
    font-family: 'Lora', sans-serif;
    font-size: 20px;
}

h3 {
    font-family: 'montserrat';
    font-size: 20px;
}

h4 {
    font-family: 'Hind Madurai', sans-serif;
    font-size: 16px;
    font-weight: 600;
}

img {
    width: 100%;
}

a {
    color: #b60f80;
    text-decoration: none;
    font-weight: 600;
}

a:hover,
a:focus {
    text-decoration: underline;
    color: #671565;
}

.button {
    display: inline-block;
    background-color: transparent;
    color: #b60f80;
    border: 1px solid #b60f80;
    padding: 4px 10px;
}

.button:hover,
.button:focus {
    background-color: transparent;
    color: #671565;
    border: 1px solid #671565;
    text-decoration: none;
}

.fa-brands {
    color: #575756;
    font-size: 26px;
    font-style: normal;
}

.fa-brands:hover,
.fa-brands:focus {
    text-decoration: none;
    color: #575756;
}